icecream
sympy
timm
simplejson
fvcore>=0.1.1
pytorch-losses
torchmetrics
opencv_transforms
termcolor
tensorboardX
contexttimer
imgaug
prettytable
ffmpeg-python
tabulate
pandas
lmdb
PyTurboJPEG
albumentations
einops
filterpy
opencv-python
matplotlib
numpy
pillow
scipy
sanic
